@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400|Open+Sans:300,400,600,700|Poiret+One';

$gris : #606060;
$gris-oscuro: #464A51;
$gris-claro: #DDDDDD;
$blanco: white;
$fuente-principal: 'Open Sans', sans-serif;
$fuente-logo: 'Poiret One', cursive;
$fuente-titulos: 'Comfortaa', cursive;

$color-fuente : $gris;

html {
  padding: 0;
  margin: 0;
}
body { 
  font-family: $fuente-principal;
  font-size: 16px;
  font-weight: lighter;
  color: $color-fuente;
}

body#login-page{
  background: url(../images/bg-image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body#page-page{
  background: $blanco;
}

/* GENERAL */
.container {
  max-width: 1000px;
}
.form-control{
  border-radius: 0;
}
h1, h2, h3{
  margin-top: 20px;
  margin-bottom: 20px;
}
h1{
  font-family: $fuente-logo;
  font-size: 4em;
  text-align: center;
}
a, a:hover{
  color: $color-fuente;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
//.box { @include border-radius(10px); }

$tablet: 768px;
$desktops: 992px;
$large-desktops: 1200px;
@mixin tablet{
  @media only screen and (min-width: #{$tablet}){
    @content;
  }
}
@mixin desktops{
  @media only screen and (min-width: #{$desktops}){
    @content;
  }
}
@mixin large-desktops{
  @media only screen and (min-width: #{$large-desktops}){
    @content;
  }
}
@mixin large-desktops{
  @media only screen and (min-width: #{$large-desktops}){
    @content;
  }
}

/* LOGIN */
#login {
  width: 320px;
  padding: 15% 0 0;
  margin: auto;
  & form {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 20px;
    background: $blanco;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 1px 1px 3px rgba(0,0,0,.13);
  }
  & label{
    font-weight: lighter;
    font-size: 0.9em;
  }
  & input[type=submit]{
    background: $gris-oscuro;
    color: $blanco;
    text-shadow: none;
    border: none;
    font-weight: 300;
    border-radius: 0.1em;
  }
  & #buttons-login {
    border-top: 1px solid $gris-claro;
    background: $blanco;
    font-size: 0.9em;
    & a{
      margin: 0.5em 0;
      display: block;
    }
    & a:hover{
      text-decoration: none;
    }
  }

  & #buttons-login .button-login {
    width: 49%;
    display: inline-block;
    text-align: center;
    border-right: 1px solid $gris-claro;
    background: $gris-oscuro;
    color: $blanco;
    & a{
      color: $blanco;
    }
  }

  & #buttons-login .button-singup {
    width: 49%;
    display: inline-block;
    text-align: center;
    & a{
      color: $gris-oscuro;
    }
  }
}

/* MENU */
#menu{
  background: $gris-oscuro;
  color: $blanco;
  font-size: 0.9em;
  & .navbar-brand{
    @include tablet{
      display: none;
    }
  }
  & .navbar-toggle{
    background: $blanco;
  }
  & .navbar-toggle .icon-bar{
    background: $gris-oscuro;
  }
  & .navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
    color: $blanco;
  }
  & .navbar-brand, .navbar-nav>li>a:hover, .navbar-nav>li>a:active, .navbar-nav>li>a:focus {
    background: transparent;
  }
  & ul.nav.navbar-nav {
    & .dropdown-menu>li>a{
      color: $blanco;
      font-weight: 300;
    }
    & .dropdown-menu>li>a:hover{
      color: $gris-oscuro;
      background: $blanco;
    }
    @include tablet{
      width: 100%;
      & > li{
        width: 25%;
        text-align: center;
        font-weight: 300;
        border-right: 1px solid $blanco;
      }
      & > li:last-child{
        border-right: none;
      }
      & .dropdown-menu>li>a{
        color: $gris-oscuro;
        font-weight: 300;
      }
    }
  }
}

/* SLIDE */
#slide{
  & #main-slide .item img{
    display: block;
    width: 100%;
    height: auto;
  }
}

/* PAGE */
#page{
  font-family: $fuente-principal;
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  padding: 2em 0;
  font-size: 0.8em;
  & .title{
    & h2 {
      margin-top: 0;
    }
  }
}
.title{
  & h2{
    font-family: $fuente-titulos;
    text-align: center;
    font-weight: 300;
  }
  & h3{
    font-family: $fuente-titulos;
    text-align: left;
    font-weight: 300;
    font-size: 1em;
    padding: 0.5em 0;
  }
  & h4{
    font-family: $fuente-titulos;
    text-align: left;
    font-weight: 300;
    font-size: 0.8em;
  }
}
#links{
  padding: 0 0 2em 0;
  & a{
    font-size: 0.8em;
  }
}

/* FOOTER */
#footer{
  font-family: $fuente-principal;
  font-weight: 300;
  background: $gris-oscuro;
  color: $blanco;
  font-size: 0.9em;
  & a{
    color: $blanco;
  }
  & .develop{
    display: inline-block;
    width: 49.5%;
    text-align: left;
    padding: 0.5em;
  }
  & .menu{
    display: inline-block; 
    width: 49.5%;
    padding: 1em 0;
    text-align: right;
    & ul {
      padding: 0;
      margin: 0;
      & li{
        display: inline-block;
        & a{
          padding: 0 1em;
          margin: 0.5em 0;
          display: block;
          border-right: 1px solid $blanco;
        }
      }
      & li:last-child a{
        border-right: none;
      }
    }
  }
}